.infoComponent {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 8px;
}

.text {
    font-size: 14px;
    font-weight: 700;
}

.textTask {
    color: var(--blue);
}

.textFinish {
    color: var(--purple);
}

.counter {
    display: flex;
    justify-content: center;
    width: 1.563rem;
    header: 1.188rem;
    background: var(--gray-400);
    border-radius: 999px;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    color: var(--gray-200);
}