.taskList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.taskList header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.content {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--gray-400);
  gap: 16px;
  border-radius: 8px;
}

.contentEmpty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 1.5rem;
  width: 100%;
  gap: 1rem;
  color: var(--gray-300);
}

.contentEmpty > div {
  color: var(--gray-300);
  font-size: 1rem;
  line-weight: 1.4;
}

.contentEmpty > div span {
  font-weight: 700;
}
